#nav {
	display: flex;
	justify-content: flex-end;
	background: black;
	opacity: 0.5;
	z-index: 0;
	padding: 10px;
}

.home:hover {
    font-weight: 900;
}

.about:hover {
    font-weight: 900;
}

.home {
	padding-right: 25px;
}
.about {
	padding-right: 25px;
}

body {
	background: url(http://www.hdwallpapers.in/walls/otuataua_stonefields-wide.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-family: 'Droid Sans', sans-serif;
	color: whitesmoke;
    min-width: 750px;
	overflow: visible;
}

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    padding: 5%;
    min-width: 740px;
    overflow: hidden;
    padding-bottom: 10%;
}

.aboutname {
    font-size: 9.9vw;
    color: black;
    opacity: .5;
    font-weight: 900;
    overflow: hidden;
}

.homeName {
    display: flex;
    justify-content: center;
    font-size: 9.9vw;
    color: black;
    opacity: .5;
    font-weight: 900;
    margin: 5% auto;
   text-shadow: 1px 1px 1px whitesmoke;
}

#aboutInfo {
    font-size: 2vw;
    font-weight: 600;
    margin: 0 10%;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    background-color: rgba(0,0,0,.6);
    /* opacity: .5; */
    padding: 10px 20px;
}

a {
    text-decoration: none;  
    padding: 2%;
    color: 
}

.meLinks {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
}

.home-twitter {
    margin: 0 20vw;
    padding-bottom: 10%;
}
 
.github-button {
    padding-right: 10%;
}

.email {
    margin: -25px;
}
