#nav {
	display: flex;
	justify-content: flex-end;
	background: black;
	opacity: 0.5;
	z-index: 0;
	padding: 10px;
}

.home {
	padding-right: 25px;
}
.about {
	padding-right: 25px;
}

body {
	background: url(http://www.hdwallpapers.in/walls/otuataua_stonefields-wide.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 400px;
	width: 100%;
	top: 0;
	left: 0;
	font-family: 'Droid Sans', sans-serif;
	color: whitesmoke;
    min-width: 750px;
	overflow: hidden;
}

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    padding: 5%;
    min-width: 740px;
}

.aboutname {
    font-size: 89px;
    color: black;
    opacity: .5;
    font-weight: 900;
}

.homeName {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: black;
    opacity: .5;
    font-weight: 900;
    margin: 5% auto;
}

p {
    font-size: 20px;
    font-weight: 900;
    margin: 0 10%;
}

a {
    text-decoration: none;  
    padding: 2%;
}